<form action="/test/submit" method="POST">
    <label>Requester</label>
        <input type="text" name="requester">
    <br>
    <label>Select Test to Run </label>
    <select name="test_name">
        <option value=""></option>
        {% for o in option_list %}
        <option value="{{ o }}">{{ o }}</option>
        {% endfor %}
    </select>
    <br>
        <label>Or insert path to your test</label>
        <input type="text" name="path_to_test">
    <br>
    <input type="submit" value="Submit">
    <br>
    <a href="/">Home</a>
</form>
